body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    margin: 50px;
  }
  
  h2 {
    color: #333;
  }
  
  form {
    max-width: 400px;
    margin: auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  label {
    display: block;
    margin-bottom: 8px;
    color: #333;
  }
  
  input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #45a049;
  }
#header {
    margin-bottom: 20px;
  }
  
  .nav-buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
  }
  
  .nav-buttons button {
    background-color: #3498db;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
  }
  
  .nav-buttons button:hover {
    background-color: #2980b9;
  }
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  #header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
  }
  
  #username {
    font-weight: bold;
    color: #ffd700; /* Golden yellow color */
  }
  
  .nav-buttons {
    margin-top: 20px;
  }
  
  .button {
    background-color: #4caf50; /* Green */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    font-size: 16px;
  }
  
  .button:hover {
    background-color: #45a049; /* Darker green on hover */
  }
  
  .procurement-buttons button {
    padding: 10px 20px; /* Adjust the values as needed */
  }
  
  #registrationLink {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #4caf50;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
    transition: background-color 0.3s;
}

#registrationLink:hover {
    background-color: #45a049;
}